label, th {
    color: black;
    font-size: 15px;
    font-weight: 300;
    font-family: sans-serif;
    text-transform: uppercase;
}

td {
    text-transform: uppercase;
}

input {
    background-color: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    text-transform: uppercase;
    height: 40px;
    border: none;
}

input:read-only {
    background-color: rgb(50, 50, 50);
    color: rgb(200, 200, 200);
    cursor: not-allowed;
}

.btn {
    padding: 5px 30px 5px 30px;
}

button {
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button, .btn {
    color: rgb(250, 250, 250);
    background-color: rgb(50, 50, 50);
    width: 200px;
    text-transform: uppercase;
}

button:hover, .btn:hover {
    color: rgb(250, 250, 250);
    background-color: rgb(0, 0, 0);
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.card {
    border: none;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card-head {
    padding: 20px 0;
    background-color: rgb(50, 50, 50);
    border-radius: 10px 10px 0 0;
}

.page {
    background-color: rgb(100, 100, 100);
    height: 100%;
    padding: 50px 0 0 0;
}

*:focus {
    outline: none;
    border: none;
}
